<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<style>
body, html{
  height: 100%;
  width: 100%;
}
body{
  margin: 0;
  padding: 0;
}
#bannerCont{
  position: relative;
  width: 100%;
  height: 50%;
  box-shadow: 3px 0 5px 3px rgba(0,0,0,.3);
}
.slide{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.bottom{
  z-index: 1;
  background-image: url(http://activerain.com/image_store/uploads/agents/abqhomepro/files/Cottonwood%20Trees%20Albuquerque%20Bosque%20Copyright%20John%20McCormack%20Realtor.jpg);
  }
.middle{
  z-index: 2;
  background-image: url(https://beheld.files.wordpress.com/2009/11/sandia-mountains-from-the-west-mesa1.jpg);
  -webkit-animation: fadeMiddle 20s infinite;
  animation: fadeMiddle 20s infinite;
}
.top{
  z-index: 3;
  background-image: url(https://beheld.files.wordpress.com/2014/10/autumn-in-maine.jpg);
  -webkit-animation: fadeTop 20s infinite;
  animation: fadeTop 20s infinite;
}
#bannerDescription{
  position: absolute;
  bottom: 5%;
  width: 100%;
  padding: 2% 5%;
  z-index: 5;
  background-color: rgba(0,0,0,.6);
  color: #FFF;
  font-size: 1.5em;
  font-family: Tahoma;
}
@-webkit-keyframes fadeTop{
  0% {opacity: 1;}
  27% {opacity: 1;}
  33% {opacity: 0;}
  94% {opacity: 0;}
  100% {opacity: 1;}
}
@-webkit-keyframes fadeMiddle{
  0% {opacity: 1;}
  60% {opacity: 1;}
  66% {opacity: 0;}
  99% {opacity: 0;}
  100%{opacity: 1;}
}
@-keyframes fadeTop{
  0% {opacity: 1;}
  27% {opacity: 1;}
  33% {opacity: 0;}
  94% {opacity: 0;}
  100% {opacity: 1;}
}
@-keyframes fadeMiddle{
  0% {opacity: 1;}
  60% {opacity: 1;}
  66% {opacity: 0;}
  99% {opacity: 0;}
  100%{opacity: 1;}
}

</style>

<div id="bannerCont">
  <div class="slide bottom"></div>
  <div class="slide middle"></div>
  <div class="slide top"></div>
  <div id="bannerDescription">Welcome to Albuquerque!</div>
</div>
<div id= "user_nav"  >
   <% if user_signed_in? %>
    Logged in as  <%= current_user.email %>. Not you ?
      <%= link_to "Log out", destroy_user_session_path, :method => :delete %>
   <% else %>
     <%= link_to "sign up" , new_user_registration_path  %> or <%= link_to "Log in", new_user_session_path %>
   <% end %>
  </div>

  
<% flash.each do |name, msg| %>;
  <%= content_tag :div, msg, :id => "flash_#{name}" %>;
<% end %>



<%= yield %>

</body>

</html>
